
body{
  margin-left: 30px;
}

h1{
  font-size: 54px;
  margin-left: 35px;
}

img {
  filter: grayscale(100%);
  width: 350px;
  height: 410px;
  position: absolute;
  z-index: 1;
}

ul{
  list-style: none;
}

li{
  float: left;
  font-size: 24px
  }

.nom{
  position: absolute;
  z-index: 2;

  color: white;
  padding: 25px 180px 25px 20px;
  background-color: rgb(6, 17, 81, 0.6);
  margin-top: 306px;
  text-align: justify;
}


.duotone{
  position: absolute;
  background-color: rgb(150, 85, 127, 0.6);
  width: 350px;
  height: 410px;
  z-index: 3;
}

.employé1:hover .duotone{
  background-color: rgb(150, 85, 127, 0);
}
.employé1:hover img{
  filter: grayscale(0%);
}
.employé1:hover .nom{
  background-color: rgb(6, 17, 81);
}
a{
  position: absolute;
  background-color: rgb(150, 85, 127, 0);
  width: 350px;
  height: 410px;
  z-index: 4;
  border: none;
}
.employé1:hover a{
  background-color: rgb(150, 85, 127, 0);
  cursor: pointer;
}
